@model Deck
@{
    ViewData["Title"] = "CreateDeck";
}

<h1>Create Deck</h1>

<form asp-action="CreateDeck" asp-controller="Home">
    <div class="form">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="Deck Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <input type="submit" name="save" value="save" class="btn btn-primary col-1" />
    </div>
</form>
<p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary col-1">Cancel</a>
</p>
