@model VerifyDeleteViewModel
@{
    ViewData["Title"] = "VerifyDelete";
}

<h3>Are you sure you'd like to delete this @Model.ItemType?</h3>

<div>
    <form class="form-group" method="post" action="/VerifyDeletePost">
        <input onclick="location.href='@Url.Action("Index")'"
               type="button" class="btn btn-primary" name="no" value="No" />
        <input onclick="location.href='@Url.Action("VerifyDeletePost",
                                              new VerifyDeleteViewModel
                                              {
                                                  Id = Model.Id,
                                                  ItemType= Model.ItemType
                                              })'"
               type="button" class="btn btn-danger" name="yes" value="Yes" />
    </form>
</div>